%h1 Your MailChimp Lists
%ul.mailchimp_lists
  - @lists.each do |list|
    %li= link_to "Export users from DB to \"#{list.name}\" (#{pluralize list.member_count.to_i, 'member'})", upload_list_path(list)
