%h1 User export results
%ul.user_upload_results
  - if @uploaded_users.present?
    - @uploaded_users.each do |user|
      %li== <span>#{user}</span> added successfully to the list "#{@list.name}"
  - else
    %li <b>None</b>