%h1 Listing users

%ul
  - if @users.present?
    - @users.each do |user|
      %li
        = user
        == (#{link_to 'Edit', edit_user_path(user)} | #{button_to 'Destroy', user, :method => :delete})
  - else
    %li <b>none</b>

= link_to 'New User', new_user_path
