%h1 Listing users

.userlist
  - if @users.present?
    - @users.each do |user|
      = link_to user.name, edit_user_path(user), :title => user.name, :class => 'item'
  - else
    %li <b>none</b>
  .clr
  = link_to 'New User', new_user_path, :class => 'button'
  .clr

