%h1== MailChimp API Key <span>#{api_key.blank? ? 'No API Key provided' : api_key}</span>

- form_tag :api_key, :class => 'api_key' do
  = text_field_tag :api_key, nil, :placeholder => 'MailChimp API Key'
  = submit_tag 'Use this key'
  %p
  - if api_key.blank?
    <small>You will not be able to interact with MailChimp library unless you provider MailChimp API Key.</small><br />
  %small== Your API key will be stored in session. You can #{link_to 'destroy', destroy_api_key_path} it any time you want.